OpenGL_test/.vs/OpenGL_test/FileContentIndex/06caa65b-cced-491f-a31e-8e5877ceb44b.vsidx
OpenGL_test/.vs/OpenGL_test/FileContentIndex/7fe8a5a1-796a-44b0-8d94-813b992d2047.vsidx
OpenGL_test/.vs/OpenGL_test/FileContentIndex/1561b7ca-ee5b-4eee-b076-cbb0e41a2e5b.vsidx
OpenGL_test/.vs/OpenGL_test/FileContentIndex/4622f31b-7f55-4af8-b337-376779d42218.vsidx
OpenGL_test/.vs/OpenGL_test/FileContentIndex/f7065109-f099-4058-b88b-79c4017c399c.vsidx
OpenGL_test/.vs/OpenGL_test/v17/ipch/AutoPCH/4df2c82538c10f7b/LEARN_OPENGL.ipch
OpenGL_test/.vs/OpenGL_test/v17/ipch/AutoPCH/67117895b9a5b007/TEST_INCLUDES.ipch
OpenGL_test/.vs/OpenGL_test/v17/.suo
OpenGL_test/.vs/OpenGL_test/v17/Browse.VC.db
OpenGL_test\x64\Debug\OpenGL_test.exe
OpenGL_test/x64/Debug/OpenGL_test.pdb